h1 {
    color: #FFF;
    background: #03838F;
    border-radius: 10px;
    padding: 2.5px 10px 5px 10px;
    font-size: 26px;
}

p {
    border: 1px solid #03838F;
    border-radius: 10px;
    padding: 10px;
    span {
        color: #676767;
    }
}