h1 {
    color: #FFF;
    background: #03838F;
    border-radius: 10px;
    padding: 2.5px 10px 5px 10px;
    font-size: 26px;
    margin: auto;
    margin-bottom: 20px;
width: fit-content;
}
.intro {
    margin: auto;
    margin-top: 50px;
    padding-inline: 20px;
    div {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
        flex-wrap: wrap;
        @media screen and (min-width: 576px) {
            flex-direction: row;
            flex-wrap: nowrap;
        }
    }
    p {
        margin-top: 0;
        margin-bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        border: 2px solid #03838F;
        border-radius: 10px;
        padding: 10px;
        &:first-child {
            margin-bottom: 10px;
            @media screen and (min-width: 576px) {
                margin-bottom: 0;
                margin-right: 40px;
            }
        }
        span {
            color: #676767;
            margin-top: 3px;
            &:last-child {
                color: #000;
                font-weight: 600;
            }
        }
    }
}
.graph-wrapper {
    margin: auto;
    transform: scale(0.9);
    @media screen and (min-width: 576px) {
        transform: none;
    }
    .pie-label {
        font-size: 14px;
        font-weight: 300;
    }
}