<div class="intro">
    <h1>Medals per country</h1>
    <div>
        <p>
            <span>Number of JOs</span>
            <span>{{ numberOfJOs }}</span>
        </p>
        <p>
            <span>Number of countries</span>
            <span>{{ numberOfCountries }}</span>
        </p>
    </div>
</div>
<div class="graph-wrapper">
    <ngx-charts-pie-chart [results]="data" [labels]="true" [trimLabels]="false" [animations]="false"  [autoScale]="true"
        (select)="onSelect($event)">
        <ng-template #tooltipTemplate let-model="model">
            <span style="font-weight: bold; font-size: large;">{{model.name}}</span>
            <br>
            <fa-icon [icon]="faMedal" class="p-2" style="font-size: large;"></fa-icon>
            <span style="font-weight: bold; font-size: large;">{{model.value}}</span>
        </ng-template>
    </ngx-charts-pie-chart>
</div>